In [2]:
class Student:
    def __init__(self, name):
        self.name = name
    def dump(self):
        print('Student name is ',self.name)

In [3]:
s1 = Student('Mg Mg')

In [4]:
s1.dump()

Student name is  Mg Mg

In [5]:
s1.name

'Mg Mg'

In [6]:
s2 = Student('Aye Aye')

In [7]:
s2.dump()

Student name is  Aye Aye

In [8]:
s2.name

'Aye Aye'

# Class Example : A bank Account

In [9]:
class Account:
    def __init__(self, name, account_number, initial_amount):
        self.name = name
        self.no = account_number
        self.balance = initial_amount
    def deposit(self, amount):
        self.balance += amount
    def withdraw(self, amount):
        self.balance -= amount
    def dump(self):
        s = '%s, %s balance: %s'%(self.name, self.no, self.balance)
        print(s)

In [10]:
mgmg = Account('Mg Mg', '12345', 20000)

In [11]:
mgmg.name

'Mg Mg'

In [12]:
mgmg.no

'12345'

In [13]:
mgmg.balance

20000

In [14]:
mgmg.deposit(30000)

In [15]:
mgmg.balance

50000

In [16]:
mgmg.withdraw(20000)

In [17]:
mgmg.balance

30000

In [18]:
mgmg = Account('Mg Mg', '12345', 20000)
mgmg.dump()

Mg Mg, 12345 balance: 20000

In [19]:
class Person:
    def __init__(self, name, mobile_phone = None, office_phone = None, private_phone = None, email = None):
        self.name = name
        self.mobile= mobile_phone
        self.office = office_phone
        self.private = private_phone
        self.email = email
        
    def add_mobile_phone(self, number):
        self.mobile = number
    def add_office_phone(self,number):
        self.office = number
    def add_private_phone(self, number):
        self.private = number
    def add_email(self, email):
        self.email = email
    def dump(self):
        s = "Name: %s\nMobile Phone: %s\nOffice Phone: %s\nPrivate Phone: %s\nEmail: %s" %(self.name, self.mobile, self.office, self.private, self.email)
        print(s)

In [20]:
u_mg = Person('U Mg Mg')

In [21]:
u_mg.name

'U Mg Mg'

In [22]:
u_mg.add_mobile_phone('09774511562')

In [23]:
u_mg.mobile

'09774511562'

In [24]:
u_mg.dump()

Name: U Mg Mg
Mobile Phone: 09774511562
Office Phone: None
Private Phone: None
Email: None

In [25]:
print(u_mg)

<__main__.Person object at 0x000002833CE233D0>

# Sepecial Methods

In [38]:
class Test():
    def __init__(self, name):
        self.name = name
    def __call__(self, salary):
        return salary*0.05
    def __repr__(self):
        return "Object is: %s"%self.name
    def __str__(self):
        return 'This is Test Object for: %s'%self.name
t1 = Test('Mg Yan')

In [39]:
t1.name

'Mg Yan'

In [40]:
tax = t1(230000)

In [41]:
tax

11500.0

In [42]:
print(t1)

This is Test Object for: Mg Yan

In [43]:
print(int.__add__(2,3))

5

In [46]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def __add__(self, other):
        return self.salary + other.salary
emp_1 = Employee('Mg Mg', 250000)
emp_2 = Employee('Ag Ag', 350000)

In [47]:
emp_1 + emp_2

600000