In [1]:
temps = {'Osio':13, 'London':14.7,"Paris":15.2}

In [3]:
type(temps)

dict

In [7]:
print("Temperature in Osio is:",temps['Osio'])

Temperature in Osio is: 13

In [8]:
print("Temperature in Osio is:",temps['London'])

Temperature in Osio is: 14.7

In [9]:
temps.keys()

dict_keys(['Osio', 'London', 'Paris'])

In [10]:
temps.values()

dict_values([13, 14.7, 15.2])

In [11]:
temps

{'Osio': 13, 'London': 14.7, 'Paris': 15.2}

In [14]:
temps['Osio'] = 15.5

In [15]:
temps

{'Osio': 15.5, 'London': 14.7, 'Paris': 15.2, 'Oslo': 15.5}

In [17]:
temps['Yangon'] = 30

In [18]:
del temps['Yangon']

In [19]:
temps

{'Osio': 15.5, 'London': 14.7, 'Paris': 15.2, 'Oslo': 15.5}

In [20]:
for key in temps:
    print(temps[key])

15.5
14.7
15.2
15.5

In [22]:
sum = 0
for city in temps:
    value = float(temps[city])
    sum += temps[city]
print('Total Temperature',sum)

Total Temperature 60.9

In [24]:
for city in sorted(temps):
    print("%s has %.2f degrees"%(city,temps[city]))

London has 14.70 degrees
Osio has 15.50 degrees
Oslo has 15.50 degrees
Paris has 15.20 degrees

In [28]:
if 'Oslo' in temps:
    print('Oslo', temps['Oslo'])
else:
    print('Oslo is not in the dictionary')

Oslo 15.5

In [29]:
t1 = temps
print(t1)

{'Osio': 15.5, 'London': 14.7, 'Paris': 15.2, 'Oslo': 15.5}

In [30]:
t1['Yangon'] = 30

In [31]:
t2 = temps.copy()

In [32]:
t2

{'Osio': 15.5, 'London': 14.7, 'Paris': 15.2, 'Oslo': 15.5, 'Yangon': 30}

# Pollynomial Respreseted by Dictionries

In [33]:
p = {0: -1, 2: 1, 7: 3}
def eval_poly_dict(poly,x):
    sum = 0.0
    for power in poly:
        sum += poly[power]*x**power
    return sum

In [34]:
print(eval_poly_dict(p,2))

387.0

In [45]:
def eval_poly_dict2(poly,x):
    return sum(poly[power]*x**power for power in poly)

In [46]:
poly = [-1,0,1,0,0,0,0,3]

In [47]:
print(eval_poly_dict2(poly,2))

TypeError: 'float' object is not callable

In [48]:
##Read file Data

In [50]:
file = open('deg2.dat', 'w')
file.write("""Oslo: 21.8
London: 18.1
Berlin: 19
Paris: 23
Rome: 26
Helsinki: 17.8
""")
file.close()

In [64]:
infile = open('deg2.dat', 'r')
temps = {}
for line in infile.readlines():
    c,t = line.split()
    c = c[:-1]
    temps[c] = float(t)
infile.close()

In [65]:
temps

{'Oslo': 21.8,
 'London': 18.1,
 'Berlin': 19.0,
 'Paris': 23.0,
 'Rome': 26.0,
 'Helsinki': 17.8}

In [70]:
data = {'A':{1:11.7,2:9.2}}

In [71]:
data

{'A': {1: 11.7, 2: 9.2}}

In [73]:
data['A'][2]

9.2

In [78]:
file = open('table.dat', 'w')
file.write("""   A     B     C     D
1 11.7  0.035  2017  99.1
2 9.2   0.037  2019  101.2
3 12.2  no     no    105.2
4 10.1  0.031  no    102.1
5 9.1   0.033  2009  103.3
6 8.7   0.036  2015  101.9
""")
file.close()

In [94]:
infile = open('table.dat','r')
lines = infile.readlines()
infile.close()
data = {}
first_line = lines[0]
properties = first_line.split()
for p in properties:
    data[p] = {}
for line in lines[]

SyntaxError: invalid syntax (<ipython-input-94-8be66c8271fa>, line 9)

In [95]:
lines

['   A     B     C     D\n',
 '1 11.7  0.035  2017  99.1\n',
 '2 9.2   0.037  2019  101.2\n',
 '3 12.2  no     no    105.2\n',
 '4 10.1  0.031  no    102.1\n',
 '5 9.1   0.033  2009  103.3\n',
 '6 8.7   0.036  2015  101.9\n']

In [96]:
print(properties)

['H']